<div>Your cookie is <span id="cookie-status"><b>{% if cookie %}active{% else %}empty{% endif %}</b></span></div>

<h3>Items</h3>
{% for i in 1..4 %}
    <div class="cookie-item" data-id="{{ i }}">
        Item {{ i }}
        {% if i in cookie|keys %}
            <a href="#" class="del">Remove</a>
        {% else %}
            <a href="#" class="add">Add</a>
        {% endif %}
    </div>
{% endfor %}